@font-face {
    font-family: 'alarm_clock';
    font-style: normal;
    font-weight: normal;
    src:
        local("alarm_clock"),
        url("./assets/fonts/alarm_clock.woff") format('woff');
}

h1,
h2,
h3,
p {
    margin: 0;
}

body,html {
    margin: 0;
    padding: 0;
    transition: all 200ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-color: #161926;
}

#master-container {
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 1rem;
}

main {
    display: flex;
    height: 50%;
    background-color: #232232;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.score-container {
    /* padding: 1rem; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container:nth-child(1) {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.score-container:nth-child(2) {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #080001;
    font-family: "alarm_clock";
    font-size: 5rem;
    color: #F94F6D;
}

.btn-pt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}

button {
    background-color: transparent;
    border-radius: 0.5rem;
    border-width: 0.15rem;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    color: rgb(207, 207, 207);
    cursor: pointer;
    display: inline-block;
    font-family: "alarm_clock";
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

section {
    background-color: #232232;
    border-radius: 1rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}