@font-face {
    font-family: 'alarm_clock';
    font-style: normal;
    font-weight: normal;
    src:
        local("alarm_clock"),
        url("./assets/fonts/alarm_clock.woff") format('woff');
}

h1,
h2,
h3,
p {
    margin: 0;
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    background-color: #161926;
}

#master-container {
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

main {
    display: flex;
    height: 50%;
    background-color: #232232;
    border-radius: 1rem;
    margin: 1rem 0;
}

.score-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #080001;
    font-family: "alarm_clock";
    font-size: 5rem;
    color: #F94F6D;
}

.btn-pt {
    display: flex;
    width: 60%;
}

button {
    flex: auto;
    font-size: 1.25rem;
}

section {
    background-color: #232232;
    border-radius: 1rem;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}